SweetGift/SweetGift/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SweetGift/SweetGift/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SweetGift/SweetGift/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SweetGift/SweetGift/Program.cs
SweetGift/SweetGift/obj/Debug/SweetGift.csproj.FileListAbsolute.txt
*.suo
*.cache
Task #1/SweetGift/SweetGift/obj/Debug/SweetGift.csproj.FileListAbsolute.txt
Task #1/SweetGift/SweetGift/bin/Debug/SweetGift.exe
Task #1/SweetGift/SweetGift/bin/Debug/SweetGift.pdb
Task #1/SweetGift/SweetGift/obj/Debug/SweetGift.csproj.FileListAbsolute.txt
Task #1/SweetGift/SweetGift/obj/Debug/SweetGift.csprojResolveAssemblyReference.cache
Task #1/SweetGift/SweetGift/obj/Debug/SweetGift.exe
Task #1/SweetGift/SweetGift/obj/Debug/SweetGift.pdb
Task #1/SweetGift/SweetGift/bin/Debug/SweetGift.pdb
Task #1/SweetGift/SweetGift/bin/Debug/SweetGift.exe
Task #1/SweetGift/.vs/SweetGift/v14/.suo
*.sln
Task #2/LinguisticTasksSolution/LinguisticLibrary/Properties/AssemblyInfo.cs
Task #2/LinguisticTasksSolution/LinguisticLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.pdb
Task #2/LinguisticTasksSolution/LinguisticLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Task #2/LinguisticTasksSolution/LinguisticLibrary/obj/Debug/LinguisticLibrary.csproj.FileListAbsolute.txt
Task #2/LinguisticTasksSolution/LinguisticLibrary/bin/Debug/LinguisticLibrary.dll
Task #2/LinguisticTasksSolution/LinguisticLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.csproj
Task #2/LinguisticTasksSolution/LinguisticLibrary/obj/Debug/LinguisticLibrary.dll
*.pdb
Task #1/SweetGift/SweetGift/obj/Debug/SweetGift.exe
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/obj/Debug/App.g.i.cs
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/obj/Debug/MainWindow.g.i.cs
*.lref
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/Properties/Resources.resx
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/Properties/Settings.Designer.cs
*.settings
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/Properties/Resources.Designer.cs
Task #2/LinguisticTasksSolution/LinguisticFeaturesAnalyzer/Properties/AssemblyInfo.cs